body{
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}
.container{
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}
input{
    width: 90%;
    padding: 10px;
    margin: 8px 0;
}
button{
    width: 100%;
    padding: 10px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
}
